@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie{
    background: #f1906c;
    text-align: center;
}

body{
    background: #f6b7a0;
}

header{
    height: 100px;
}

.headerContent{
    max-width: 1500px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 110px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btnHeaderRegister,
.btnRegisterCover{
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btnHeaderRegister:hover,
.btnRegisterCover:hover{
    background: #20bbd8;
    color: #000;
}

#iconMenu{
    display: none;
}

/*PORTADA*/
main{
    max-width: 1500px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.txtInformationCover{
    width: 50%;
}

.txtInformationCover h1{
    font-size: 50px;
}

.txtInformationCover p{
    font-size: 18px;
    margin-top: 40px;
}

.btnsCover{
    display: flex;
    margin-top: 40px;
}

.btnReadMoreCover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btnReadMoreCover:hover{
    background: #f2d184;
}

.mediaCover{
    width: 45%;
}

.mediaCover video{
    width: 100%;
    margin-top: -40px;
}

/*Banner*/
.bannerContainer{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #142c88;
    position: relative;
}

.bannerGame{
    width: 35%;
    height: 100%;
}

#iconGame{
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.bannerTxt{
    width: 60%;
    position: relative;
    padding: 40px;
}

.bannerTxt h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.bannerTxt a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.bannerTxt a:hover{
    color: #20bbd8;
}

.bannerJoystick{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#iconJoystick{
    width: 300px;
    position: relative;
    margin-top: -10px;
    opacity: 0.6;
}

/* Al llegar a este tamño la pantalla hará cambios */
@media (max-width: 1024px){

    .headerContent,
    main{
        padding: 20px;
    }

    #iconMenu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .headerRegister{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    /*showMenu lo maneja JS*/
    .showMenu{
        height: 240px;
    }

    .txtInformationCover h1{
        font-size: 40px;
    }

    .txtInformationCover p{
        font-size: 16px;
    }

    .bannerTxt h2{
        font-size: 22px;
    }

    #iconGame{
        left: -60px;
    }

    .bannerJoystick{
        right: -20px;
    }
}
/* En este tamñaño hay otros cambios */
@media (max-width: 800px){
    .txtInformationCover{
        width: 100%;
    }

    .mediaCover{
        display: none;
    }

    .banner{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #iconJoystick{
        display: none;
    }

    #iconGame{
        left: 0;
    }

    .bannerTxt{
        width: 100%;
        margin-top: -100px;
    }
}